
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Strongly LoginPost</title>
</head>
<body>
    Welcome @ViewBag.User, your password is @ViewBag.Pass
</body>
</html>
