<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success Page</title>
</head>
<body>
<H1>GREAT SUCCESS!</H1>
<p>@ViewBag.Message</p>
</body>
</html>
