@* 3. This is the view that the index action returns and is tied to that action *@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome2</h1>
    <p>Learn2 about <a href="https://learn.microsoft.com/aspnet/core">building Web asdasdasd apps with ASP.NET Core</a>.</p>
</div>
