.login-layout {
    position: absolute;
    display: block;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    border: 1px;
    box-shadow: -0em 0.3em 1em 0.5em rgb(232, 232, 232);
    border-radius: 2%;
    padding: 1.3em;
    text-align: center;
}

.login-container {
    margin-left: auto;
    margin-right: auto;
}

.login-input-container {
    display: flex;
    flex-direction: column;
}

.login-label-input {
    justify-content: space-between;
}

label {
    width: 100px; /* Adjust width as needed */
    text-align: right;
    margin-right: 0.4em; /* Adjust margin as needed */
    margin-bottom: 0.2em;
  }

.login-register {
    padding: 1em;
}