@* Here we explicitly define what our layout is, by default it will be the _Layout, so removing it doesn't matter *@
@{
    ViewData["Title"] = "Details";  // This field is used in out layout so we set it hear to set the title
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

