@* This view doesn't use the default _Layout and instead creates a new page from scratch *@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoLayout</title>
</head>
<body>
    <p>
        No Layout used
    </p>
</body>
</html>
